<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FDB515"></span>
    <span class="sg-label">
      $ac--btn <br />
      #FDB515
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FDD05C"></span>
    <span class="sg-label">
      $ac--btn--hover <br />
      #FDD05C
    </span>
  </li>
</ul>
