<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF"></span>
    <span class="sg-label">
      $nc--00 <br />
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1D1C1A"></span>
    <span class="sg-label">
      $nc--100 <br />
      #1D1C1A
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #D1C4E9"></span>
    <span class="sg-label">
      $nc--50 <br />
      #D1C4E9
    </span>
  </li>
</ul>
