// VARIABLES

/////// COLORS //////
// Main colors
$mc--main: #003262;

// Accent colors
$ac--btn: #fdb515;
$ac--btn--hover: #fdd05c;

// Neutral colors
$nc--00: #ffffff;
$nc--100: #1d1c1a;
$nc--50: #d1c4e9;

// Utility colors
$uc--positive: green;
$uc--caution: orange;
$uc--warning: red;

/////// SPACING ///////

/////// BORDER-RADIUS ///////

/////// BOX SHADOWS ///////
$bs--btn: 0 3px 6px #00295080;

/////// CONTAINERS ///////

/////// TRANSITIONS ///////
