<div class="radio_label">
    <input type="radio" name={{radio_name}} id={{radio_id}}/>
  <div class="outter"><div class="inner"></div></div>
  <label class="font" for={{radio_id}}>{{radio_text}}</label>
</div>