<div class="page">
    {{#title-m}}
        {{> atoms-title}}
    {{/title-m}}

    {{#screen-s}}
        {{> templates-screen}}
    {{/screen-s}}

    {{#screen-f}}
        {{> templates-screen}}
    {{/screen-f}}

    {{#btn-g}}
        {{> atoms-button}}
    {{/btn-g}}
</div>