{{#label}}
<label class="field font" for={{name}}>{{text}} :
<input class="{{class}} font" type={{type}} name={{name}} id={{name}} placeholder={{text}}>
</label>
{{/label}}

{{^label}}
<label class="field font" for={{name}}>
<input class="{{class}} font" type={{type}} name={{name}} id={{name}} placeholder={{text}}>
</label>
{{/label}}