{{#disabled}}
    <a href="#" disabled class="icon-button">
        <img src={{src}} />
    </a>
{{/disabled}}

{{^disabled}}
    <a href="#" class="icon-button">
        <img src={{src}} />
    </a>
{{/disabled}}