{{#label}}
<label class="area font" for={{area_name}}>{{area_text}}
    <textarea name={{area_name}} id={{area_name}}></textarea>
</label>
{{/label}}

{{^label}}
<label class="area font" for={{area_name}}>
    <textarea name={{area_name}} id={{area_name}}></textarea>
</label>
{{/label}}